<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>주문 페이지</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>주문/결제</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                        <li class="breadcrumb-item active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h3>주문자 정보</h3>
                        </div>
                        <form class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label for="name">이름 *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" placeholder="" th:value="${member.name}" required>
                                    <div class="invalid-feedback" style="width: 100%;"> Your username is required. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">이메일 *</label>
                                <input type="email" class="form-control" id="email" th:value="${member.email}" placeholder="">
                                <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">핸드폰번호 *</label>
                                <input type="email" class="form-control" id="phone" th:value="${member.phone}" placeholder="">
                                <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="zip_num">우편번호 *</label>
                                    <input type="text" class="form-control" id="zip_num" th:value="${member.zip_num}" placeholder="" required>
                                    <div class="invalid-feedback"> Zip code required. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="address">주소 *</label>
                                <input type="text" class="form-control" id="address" name="address" th:value="${address.addr1}" placeholder="" required>
                                <div class="invalid-feedback"> Please enter your shipping address. </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="address2">상세주소 *</label>
                                    <input type="text" class="form-control" id="address2" name="address" th:value="${address.addr2}" placeholder="" required>
                                    <div class="invalid-feedback"> Name on card is required </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="address3"></label>
                                    <input type="text" class="form-control" id="address3" name="address" th:value="${address.addr3}" placeholder="참고사항">
                                    <div class="invalid-feedback"> Credit card number is required </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="p_comment">배송시 요청사항</label>
                                <input type="text" class="form-control" id="p_comment" placeholder="예시) 문 앞에 놓고 가세요.">
                            </div>
                            <hr class="mb-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="same-address">
                                <label class="custom-control-label" for="same-address">기존 정보 가져오기</label>
                            </div>
                            <hr class="mb-4">
                            <div class="title"> <span>결제수단</span> </div>
                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="credit">무통장입금</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="debit">카카오페이</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="payer">입금자명</label>
                                    <input type="text" class="form-control" id="payer" placeholder="" required> <small class="text-muted">Full name as displayed on card</small>
                                    <div class="invalid-feedback"> Name on card is required </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="cc-number">Credit card number</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                    <div class="invalid-feedback"> Credit card number is required </div>
                                </div>
                            </div>
                            <hr class="mb-1"> </form>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="shipping-method-box">
                                <div class="title-left">
                                    <h3>배송비</h3>
                                </div>
                                <div class="mb-4">
                                    <div class="custom-control custom-radio">
                                        <input id="shippingOption1" name="shipping-option" class="custom-control-input" checked="checked" type="radio">
                                        <label class="custom-control-label" for="shippingOption1">CJ대한통운</label> <span class="float-right font-weight-bold">무료배송</span>
                                        <div class="ml-4 mb-2 small">주문한 상품은 결제완료 후 3일 이내 출고 됩니다.(토, 공휴일 제외)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="odr-box">
                                <div class="title-left">
                                    <h3>상품정보</h3>
                                </div>
                                <div class="rounded p-2 bg-light">
                                    <div class="media mb-2">
                                        <div class="media-body"> <a href="detail.html">밀키트이름</a>
                                            <div class="small text-muted">가격: 00,000 <span class="mx-2">|</span> 수량: 1 <span class="mx-2">|</span> 합계: 00,000</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="order-box">
                                <div class="title-left">
                                    <h3>결제상세</h3>
                                </div>
                                <div class="d-flex">
                                    <div class="font-weight-bold">Product</div>
                                    <div class="ml-auto font-weight-bold">총 합계</div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>Sub Total</h4>
                                    <div class="ml-auto font-weight-bold"> $ 440 </div>
                                </div>
                                <hr>
                                <div class="d-flex gr-total">
                                    <h5>총 결제금액</h5>
                                    <div class="ml-auto h5"> $ 388 </div>
                                </div>
                                <hr> </div>
                        </div>
                        <div class="col-12 d-flex shopping-box"> <a href="checkout.html" class="ml-auto btn hvr-hover">구매</a> </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>
</body>
</html>