<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>주문 페이지</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>주문/결제</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                        <li class="breadcrumb-item active">Purchase</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h3>주문자 정보</h3>
                        </div>
                        <form class="needs-validation" novalidate>
                            <div id="infoAddress">
                            <div class="mb-3">
                                <label for="name">이름 *</label>
                                <div class="input-group">
                                    <input type="hidden" class="form-control" id="info-name"th:value="${member.name}">
                                    <input type="text" class="form-control" id="name" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">이메일 *</label>
                                <input type="hidden" class="form-control" id="info-email" th:value="${member.email}">
                                <input type="text" class="form-control" id="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="email">핸드폰번호 *</label>
                                <input type="hidden" class="form-control" id="info-phone" th:value="${member.phone}">
                                <input type="text" class="form-control" id="phone" required>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="zip_num">우편번호 *</label>
                                    <input type="hidden" class="form-control" id="info-zip_num" th:value="${member.zip_num}">
                                    <input type="text" class="form-control" id="zip_num" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="address">주소 *</label>
                                <input type="hidden" class="form-control" id="info-address" name="address" th:value="${address.addr1}">
                                <input type="text" class="form-control" id="address" name="address" required>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="address2">상세주소 *</label>
                                    <input type="hidden" class="form-control" id="info-address2" name="address" th:value="${address.addr2}">
                                    <input type="text" class="form-control" id="address2" name="address" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="address3"></label>
                                    <input type="hidden" class="form-control" id="info-address3" name="address" th:value="${address.addr3}">
                                    <input type="text" class="form-control" id="address3" name="address"placeholder="참고사항">
                                </div>
                            </div>
                            </div>
                            <div class="mb-3">
                                <label for="p_comment">배송시 요청사항</label>
                                <input type="text" class="form-control" id="p_comment" placeholder="예시) 문 앞에 놓고 가세요.">
                            </div>
                            <hr class="mb-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="same-address">
                                <label class="custom-control-label" for="same-address">기존 정보 가져오기</label>
                            </div>
                            <hr class="mb-4">
                            <div class="title"> <span>결제수단</span> </div>
                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="kakaopay" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="kakaopay">카카오페이</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="deposit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="deposit">무통장입금</label>
                                </div>
                            </div>
                            <div class="row" id="inputPayer" style="display:none;">
                                <div class="col-md-6 mb-3">
                                    <label for="payer">입금자명</label>
                                    <input type="text" class="form-control" id="payer" placeholder="" required>
                                </div>
                            </div>
                            <hr class="mb-1"> </form>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="shipping-method-box">
                                <div class="title-left">
                                    <h3>배송비</h3>
                                </div>
                                <div class="mb-4">
                                    <div class="custom-control custom-radio">
                                        <input id="shippingOption1" name="shipping-option" class="custom-control-input" checked="checked" type="radio">
                                        <label class="custom-control-label" for="shippingOption1">CJ대한통운</label> <span class="float-right font-weight-bold">무료배송</span>
                                        <div class="ml-4 mb-2 small">주문한 상품은 결제완료 후 3일 이내 출고 됩니다.(토, 공휴일 제외)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="odr-box">
                                <div class="title-left">
                                    <h3>상품정보</h3>
                                </div>
                                <div class="rounded p-2 bg-light">
                                    <div class="media mb-2">
                                        <div class="media-body"><p th:text="${funding.funding_name}"/></a>
                                            <div class="small text-muted">가격:&nbsp;<p th:text="${#numbers.formatInteger(funding.price,0,'COMMA')}"/><span class="mx-2">|</span> 수량: 1 <span class="mx-2">|</span> 합계: 00,000</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="order-box">
                                <div class="title-left">
                                    <h3>결제상세</h3>
                                </div>
                                <div class="d-flex">
                                    <div class="font-weight-bold">Product</div>
                                    <div class="ml-auto font-weight-bold">총 합계</div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>Sub Total</h4>
                                    <div class="ml-auto font-weight-bold"> $ 440 </div>
                                </div>
                                <hr>
                                <div class="d-flex gr-total">
                                    <h5>총 결제금액</h5>
                                    <div class="ml-auto h5"> $ 388 </div>
                                </div>
                                <hr> </div>
                        </div>
                        <div class="col-12 d-flex shopping-box"> <a class="ml-auto btn hvr-hover" th:onclick="requestPay()">구매</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="script">
<script src="main/js/jquery-3.2.1.min.js"></script>
<script src="main/js/popper.min.js"></script>
<script src="main/js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="main/js/jquery.superslides.min.js"></script>
<script src="main/js/bootstrap-select.js"></script>
<script src="main/js/inewsticker.js"></script>
<script src="main/js/bootsnav.js."></script>
<script src="main/js/images-loded.min.js"></script>
<script src="main/js/isotope.min.js"></script>
<script src="main/js/owl.carousel.min.js"></script>
<script src="main/js/baguetteBox.min.js"></script>
<script src="main/js/form-validator.min.js"></script>
<script src="main/js/contact-form-script.js"></script>
<script src="main/js/custom.js"></script>
<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
    $(function () { // 기존 멤버 정보 불러오기
        $('#same-address').on('click', function () {
            var same = this.checked;
            $("#name").val(same ? $('#info-name').val():'');
            $("#phone").val(same ? $('#info-phone').val():'');
            $("#email").val(same ? $('#info-email').val():'');
            $("#zip_num").val(same ? $('#info-zip_num').val():'');
            $("#address").val(same ? $('#info-address').val():'');
            $("#address2").val(same ? $('#info-address2').val():'');
            $("#address3").val(same ? $('#info-address3').val():'');

            if(same == true) {
                $('#infoAddress input').filter('input:text')
                    // .attr('readonly', true).css('opacity', 0.5);
            } else {
                $('#infoAddress input').filter('input:text')
                    // .attr('readonly', false).css('opacity', 1);
            }
        });
    });

    $(function (){
        $('input[type="radio"][name="paymentMethod"]').on('click', function(){
            switch (this.id){
                case "kakaopay":
                    $('#inputPayer').hide();
                    break;
                case "deposit":
                    $('#inputPayer').show();
                    break;
                default:
                    break;
            }
        });
    });

    // IMP.init("TC0ONETIME"); // 가맹점 식별코드
    // function requestPay() {
    //     IMP.request_pay({
    //         pg : 'kakaopay',
    //         pay_method : 'card',
    //         merchant_uid: "57008833-33004",
    //         name : '당근 10kg',
    //         amount : 1004,
    //         buyer_email : 'Iamport@chai.finance',
    //         buyer_name : '포트원 기술지원팀',
    //         buyer_tel : '010-1234-5678',
    //         buyer_addr : '서울특별시 강남구 삼성동',
    //         buyer_postcode : '123-456'
    //     }, function (rsp) { // callback
    //         if (rsp.success) {
    //             jQuery.ajax({
    //                 url: '/purchase',
    //                 type: 'POST',
    //                 data: JSON.stringify({
    //                   // 필요한 데이터가 있으면 추가 전달
    //                 })
    //             }).done(function (data) {
    //
    //             });
    //             console.log(rsp);
    //         } else {
    //             console.log(rsp);
    //         }
    //     });
    // }
</script>
</th:block>
</html>